<app-spinner>
<ng-container *ngIf="details$ | async as details; else noResults">
  <section class="details-container">
    <div *ngIf="details.poster" [bgImage]="details.poster | defaultImage"></div>
    <div class="details">
      <h2 class="card-title">{{(details.title | breakTitle)?.title || details.title}}</h2>
      <h4 class="card-subtitle">{{(details.title | breakTitle)?.subtitle}}</h4>
      <div class="w-100 flex-start flex-wrap">
        <ng-container *ngFor="let genre of (details.genre | toArray)">
          <small class="text-primary mx-1">{{genre}}</small>
        </ng-container>
      </div>
      <div class="plot">
        <small>{{details.plot}}</small>
      </div>
      <div class="nav nav-tabs mb-1">
        <ng-container *ngFor="let tab of tabs">
          <div class="nav-item">
            <a
              class="nav-link"
              [class.active]="tab === currentTab"
              (click)="changeTab(tab, tabContent)"
            >
              {{tab}}
            </a>
          </div>
        </ng-container>
      </div>
      <div class="card mb-2">
        <div class="card-body" #tabContent>
          <ng-container [ngSwitch]="currentTab">
            <ng-container *ngSwitchCase="'Cast'">
              <h5>Actors:</h5>
              <div class="w-100 flex-between flex-wrap">
                <ng-container *ngFor="let actor of (details.actors | toArray)">
                  <small class="card custom-card my-1">{{actor}}</small>
                </ng-container>
              </div>
              <h5>Directed by:</h5>
              <div class="w-100 flex-between flex-wrap">
                <ng-container *ngFor="let director of (details.director | toArray)">
                  <small class="card custom-card my-1">{{director}}</small>
                </ng-container>
              </div>
            </ng-container>
            <ng-container *ngSwitchCase="'Acclaim'">
              <div class="w-100 flex-between">
                <div class="w-70 d-flex flex-align-start flex-column">
                  <ng-container *ngFor="let rating of (details.ratings)">
                    <div class="card custom-card my-1 flex-align-start w-80">
                      <small>
                        {{rating.source}}
                      </small>
                    </div>
                  </ng-container>
                </div>
                <div class="w-30 d-flex flex-align-end flex-column">
                  <ng-container *ngFor="let rating of (details.ratings)">
                    <div class="card custom-card flex-align-end w-80 my-1">
                      <small>
                        {{rating.value}}
                      </small>
                    </div>
                  </ng-container>
                </div>
              </div>
              <div class="w-100 flex-center" *ngIf="details.awards && details.awards !== 'N/A'">
                <small class="card custom-card my-1 text-wrap">{{details.awards}}</small>
              </div>
            </ng-container>
            <ng-container *ngSwitchCase="'More'">
              <div class="w-100 flex-between">
                <div class="w-33 flex-start">
                  <small class="card custom-card my-1 text-wrap">{{details.released}}</small>
                </div>
                <div class="w-33 flex-center">
                  <small class="card custom-card my-1 text-wrap">{{details.type}}</small>
                </div>
                <div class="w-33 flex-end">
                  <small class="card custom-card my-1 text-wrap">{{details.runtime}}</small>
                </div>
              </div>
              <hr class="dropdown-divider w-75 mx-auto">
              <div class="w-100 mt-2 flex-between flex-wrap">
                <ng-container *ngFor="let language of (details.language | toArray)">
                  <small class="card custom-card my-1">{{language}}</small>
                </ng-container>
              </div>
              <hr class="dropdown-divider w-75 mx-auto">
              <div class="w-100 mt-2 flex-between flex-wrap">
                <ng-container *ngFor="let country of (details.country | toArray)">
                  <small class="card custom-card my-1">{{country}}</small>
                </ng-container>
              </div>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
  </section>
</ng-container>
</app-spinner>

<ng-template #noResults>
  <div class="w-100 h-100 flex-center">
    <div class="card mb-5">
      <div class="card-body">
        <h3 class="w-100  text-center">
          No results returned. Please check your query and try again.
        </h3>
      </div>
    </div>
  </div>
</ng-template>
