<section class="search bg-secondary text-light">
  <div class="form-group">
    <label class="label" for="mediaSearchInput">Ng Movie Search</label>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text bg-primary border-primary text-light">
          <i class="fas fa-search"></i>
        </span>
      </div>
      <input
        type="text"
        class="form-control border-primary text-primary"
        id="mediaSearchInput"
        placeholder="Search movies, series, and video games"
        [(ngModel)]="searchQuery"
      >
    </div>
  </div>
  <div
    class="flex-between"
    [ngClass]="isRouted ? ['flex-row-reverse'] : ['flex-column']"
  >
    <button
      class="btn btn-outline-primary"
      [ngClass]="isRouted ? ['w-55'] : ['w-60']"
      (click)="search(searchQuery)"
    >
      Search
    </button>
    <button
      class="btn btn-outline-success"
      [ngClass]="isRouted ? ['w-40'] : ['btn-sm', 'mt-2', 'w-40']"
      (click)="feelingLuckySearch(searchQuery)"
    >
      Feelin' Lucky
    </button>
  </div>
  <ng-container *ngIf="!isRouted">
    <app-featured></app-featured>
  </ng-container>
</section>
